body {
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    line-height: 1.6;	
}

.container {
    width: 90%;
    max-width: 970px;
    margin: 50px auto; /*centramos el contenido horitzontalmente*/
}